<div style="background-image: url('assets/images/Event.jpeg');
	background-position:center;
	background-repeat:none;
	background-size:cover;
	z-index:3; position: absolute;top:0;bottom: 0;left:0;right:0;"><div style="background-color: rgba(0,0,0,0.7);background-position:center;
	background-repeat:none;
	background-size:cover;
	z-index:3; position: absolute;top:0;bottom: 0;left:0;right:0;"><br><br>

	<h1 style="font-size: 18vmin;text-align: center; font-family:'arial narrow' !important;text-transform: uppercase;color: white">Stay Tuned</h1><br>
	<h1 class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size: 18vmin;text-align: center;color: white ; margin: auto;left: 0;right: 0;position: absolute;"></h1>
	<h2 style="font-size: 8vmin;text-align: center;color: white;bottom: 20%;position: absolute;left: 0;right: 0;font-family:'arial narrow' !important;">We are building something awesome</h2>
</div>

</div>