
  <div class="row" style="top: 40px; ">

    <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12" style="background-color: rgba(0,0,0,0.6);"><br><h1 style="text-align: center;font-family: 'valentine'; color: #19f6e8; font-size: 50px;">Events</h1><hr style="width: 80%;color: white; ">
</div>
    <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Technical</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/robowar" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Robo War</li></a>
            <a href="/robosoccer"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Robo Soccer</li></a>
            <a href="/roborace"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Robo Race </li></a>
            <a href="/linefollower"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Line Follower</li></a>
            <a href="/programmatics"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Programmatics</li></a>
          </ul>
        </svg>
      </div>
    </div><div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Cultural</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/picasso"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Picasso</li></a>
            <a href="/stepup"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Step Up</li></a>
            <a href="/zest"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Zest</li></a>
            <a href="/facepaint"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Face Paint</li></a>
            <a href="/footloose"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Footloose</li></a>
            <a href="/voice"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Voice</li></a>
            <a href="/bob"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Battle of Bands</li></a>
          </ul>
        </svg>
      </div>
    </div> 

 <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Pre Events</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.145483396078463.1073741829.138390163454453/163315360961933/?type=3" target="_blank"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Wanderlust</li></a>
            <a href="https://www.facebook.com/saavyas.nitg/photos/pcb.162097227750413/162096744417128/?type=3" target="_blank"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Blood Donation</li></a>
          </ul>
        </svg>
      </div>
    </div> 
    <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Literature</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/feeltheheat"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Feel the Heat (Debate)</li></a>
            <a href="/justaminute"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Just a Minute</li></a>
            
          </ul>
        </svg>
      </div>
    </div> <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Entertainment</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/thirddegree"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Third Degree</li></a>
            <a href="/tugofwar"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Tug Of War</li></a>
            <a><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Spot Events</li></a>
            <a href="futsal"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Futsal</li></a>
            <li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Pc Gaming           <ul style="font-size: 16px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
              <a href="/clashroyale"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Clash Royale</li></a>

               <a href="/cs" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Counter Strike</li></a>
                <a href="/nfs" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Need For Speed</li></a>
                 <a href="/fifa" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> FIFA 14</li></a>
</ul></li>
            <a href="treasurehunt"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Treasure Hunt</li></a>
          </ul>
        </svg>
      </div>
    </div> <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Online Events</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.145483396078463.1073741829.138390163454453/161358457824290/?type=3" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Meme Competition</li></a>
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.145483396078463.1073741829.138390163454453/161458471147622/?type=3" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Micro Tales</li></a>
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.143499242943545.1073741828.138390163454453/160786521214817/?type=3" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Short Film</li></a>
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.145483396078463.1073741829.138390163454453/160784191215050/?type=3" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Photography</li></a>
            <a href="https://www.facebook.com/saavyas.nitg/photos/a.145483396078463.1073741829.138390163454453/161153117844824/?type=3" ><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Time Lapse</li></a>

          </ul>
        </svg>
      </div>
    </div> <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Social Initiatives</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/initiatives"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Recycling Paper</li></a>
            <a href="/initiatives"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Orphanage Visit</li></a>
            
          </ul>
        </svg>
      </div>
    </div> <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" >
          <div class="text" style="text-align: center;font-size: 18px;">Quizzes</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="/trivium"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Trivium</li></a>
                        <a href="/extravaganza"><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Extravagnza</li></a>

          </ul>
        </svg>
      </div>
    </div>   

</div>

</div>
</div>

  
   <style type="text/css">.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}</style>