<link href="assets/css/ini.css" rel="stylesheet" type="text/css">
         <div class="about" style="height: 100%">

          <div class="sub">
                                      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 " id="head-2" style="text-align: center;margin: auto;left: 0;right: 0;color: white;">Social Initiatives</div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12 " id="col-1" style=" background-image: url('assets/images/orphanage.png') !important;color:#00bbff !important;background-size: contain;">


                  <p id="head-1" style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;"><b>Spread a Smile:</b></p>
                  <p style="color:#00bbff !important;">
                      

                  <q><i> Initiative is doing the right things without being told </i></q><caption>    -Elbert Hubbard</caption><br><br>

                    <p style="color:#00bbff !important;">We at Saavyas also intend to follow the same. As most of us know, there are some less fortunate who don't even have the privilege of calling someone their Mother or Father. Someone they can rely on when in need.So as part of our social initiative we will be visiting an orphanage to spend time with them and try our best to make this visit a memorable one for them as well as for us!</p>
                    <p style="color:#00bbff !important;">Cause our moto is to make a change in their lives and spread a smile on their 
                    face, cause in the end happiness is all we hope to achieve!!!
                  </p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12 " id="col-2" style="    background-image: url('assets/images/recy.png') !important; background-size: contain;">
                  <p id="head-1" style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;"><b>Paper Recycling</b></p>
                  <p class="Para" style="color:#00bbff !important;"> 
                  <p style="color:#00bbff !important;">REDUCE, RECYCLE, REUSE</p>

                  <p style="color:#00bbff !important;">As a commodity, Paper is the largest percentage of material thrown away. This initiative has been brought upon for the sole purpose of recycling and reusing this commodity. It has been observed that each ton of recycled paper can save 17 trees,380 gallons of oil,3 cubic yards of landfill space, lots of water and energy.
                  </p>
                  <p style="color:#00bbff !important;">For this initiative, we request all the students from the institute to provide with any wastepaper materials which could be recyclable. The commodity would be sorted and sent for recycling and the financial income which is obtained could be used for the betterment of the institute and the students.
                  </p>
                  <p style="color:#00bbff !important;">So by this initiative we would like to commence this drive which could not only help the society
                  economically but also decrease our dependence of natural resources and help build a better eco-friendly environment.</p>
                  </p>
            </div>   
            <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center; background-color: black;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </div>
            </div>


       <!--footer -->
        </div>