
<div class="container-fluid" style="position: absolute;left: 0;right: 0;top: 40px;bottom: 0;background-image: url('assets/images/sponsors/jhjuj.jpg');background-size: cover;background-repeat: no-repeat;width: 100%;background-color: rgba(0,0,0,0.8);">
		<div class="hova" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;border-color: rgba(0,0,0,0.8);overflow-y: auto;overflow-x:hidden;">
	<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
		<h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Pronites</h1><hr style="width: 80%;">
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6">
		<div class="image">
			<br><br>
			<a href="">
		<img src="/assets/images/sponsors/navven.png" class="img-responsive"></a>
	</div></div>

	<div class="col-sm-12 col-md-6 col-lg-6">
		<div class="image">
			<br><br>
			<a href="">
		<img src="/assets/images/sponsors/rave and krav.png" class="img-responsive"></a>
	</div></div>
</div>

</div>
   
<style type="text/css">
img {
    max-width: 100%;
    display: block;
}


.hova:hover {
	-webkit-transition: all 0.8s ease; /* Safari and Chrome */
  	-moz-transition: all 0.8s ease; /* Firefox */
  	-o-transition: all 0.8s ease; /* IE 9 */
  	-ms-transition: all 0.8s ease; /* Opera */
  	transition: all 0.8s ease;
	background-color: rgba(0,0,0,0.3);

}


.thumbnail {
	position: absolute;
    top: 50%;
    left: 50%;
    
    width: 320px;
    height: 240px;
    
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}
.image {
    width: 60%;
    height: 60%; 
    margin: auto;   
}

.image img {
    -webkit-transition: all 0.8s ease; /* Safari and Chrome */
  	-moz-transition: all 0.8s ease; /* Firefox */
  	-o-transition: all 0.8s ease; /* IE 9 */
  	-ms-transition: all 0.8s ease; /* Opera */
  	transition: all 0.8s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
</style>