 
  <div class="row" style="top: 40px; ">
    <div><h1></h1></div>

    <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12" style="background-color: rgba(0,0,0,0.6);"><br><marquee><h2 style="color: white !important">**Online Registration would be closed by tonight 10:00 pm**</h2></marquee><br><h1 style="text-align: center;font-family: 'valentine'; color: #19f6e8; font-size: 50px;">Events Registration</h1><hr style="width: 80%;color: white; "><h4 style="text-align: center;font-family: 'valentine'; color: #19f6e8; ">*Registration Parteners*<hr style="width: 40%;color: white; "><br><img src="assets/images/1.1 MnS Logo.jpg" style="width: 100px"><br><caption> MACHADO &amp SONS AGENTS &amp STEVEDORES PRIVATE LIMITED</caption></h4><hr style="width: 80%;color: white; ">
</div>
    <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" ></svg>
          <div class="text" style="text-align: center;font-size: 18px;">Technical</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Robo_War/193633"  target="_blank"><li style="color: #19f6e8">

            	<br><br><img src="assets/images/Final Posters/Robowars.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Robo Wars</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Robo_Soccer/193637" target="_blank"><li style="color: #19f6e8">

            	<br><br><img src="assets/images/Final Posters/robosoccer final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Robo Soccer</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Robo_Race/193639"  target="_blank"><li style="color: #19f6e8">

            	<br><br><img src="assets/images/Final Posters/robo race final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Robo Race </li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Line_Follower/193635"  target="_blank"><li style="color: #19f6e8">

            	<br><br><img src="assets/images/Final Posters/line follower final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Line Follower</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Programmatics/193605"  target="_blank"><li style="color: #19f6e8">

            	<br><br><img src="assets/images/Final Posters/programmatics final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Programmatics</li></a>
          </ul>
        
      </div>
    </div><div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" ></svg>
          <div class="text" style="text-align: center;font-size: 18px;">Cultural</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/step_up/193641"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/step up final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Step Up</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Zest/193645"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/zest final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Zest</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/face_paint/193661"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/face paint final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Face Paint</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/footloose/193615"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/footloose final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Footloose</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Voice/193613"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/voice final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Voice</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Battle_of_Bands/193643"  target="_blank"><br><br><img src="assets/images/Final Posters/battle of bands final.jpg" style="max-width: 100%"><br><li style="color: #19f6e8"><i class="fa fa-shield fa-rotate-270"></i> Battle of Bands</li></a>
          </ul>
        
      </div>
    </div> 
    <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" ></svg>
          <div class="text" style="text-align: center;font-size: 18px;">Entertainment</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Third_degree/193617" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/third degree final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Third Degree</li></a>
            
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Tug_of_War/193647" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/tug of war final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Tug Of War</li></a>
                        
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Futstal/193651" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/Futsal.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Futsal</li></a>
            <li style="color: #19f6e8"><br><br><i class="fa fa-shield fa-rotate-270"></i>Gaming           <ul style="font-size: 16px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            
              <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Clash_Royale/193625" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/clash royale final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Clash Royale</li></a>

            
               <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/counter_strike/193659" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/counter strike final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Counter Strike</li></a>
            
                <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/nfs/193629" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/nfs final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Need For Speed</li></a>
            
                 <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/fifa_14/193627" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/FIFA final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> FIFA 14</li></a>
</ul></li>
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Treasure_Hunt/193655" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/treasure hunt final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Treasure Hunt</li></a>
          </ul>
        
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" ></svg>
          <div class="text" style="text-align: center;font-size: 18px;">Literature</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Feel_the_Heat/193621" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/feel the heat final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Feel the Heat (Debate)</li></a>
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/just_a_minute/193619" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/just a minute final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Just a Minute</li></a>
            
          </ul>
        
      </div>
    </div>   <div class="col-sm-12 col-md-6 col-lg-6" style="background-color: rgba(0,0,0,0.7);">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" ></svg>
          <div class="text" style="text-align: center;font-size: 18px;">Quizzes</div>
          <ul style="font-size: 18px; background-position: center;background-size: contain;background-repeat: no-repeat; list-style-position: outside;list-style: outside none;">
            <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Trivium/193657" target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/trivium final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Trivium</li></a>
                        <a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Extrawaganza/193631"  target="_blank"><li style="color: #19f6e8"><br><br><img src="assets/images/Final Posters/extravagnza final.jpg" style="max-width: 100%"><br><i class="fa fa-shield fa-rotate-270"></i> Extravagnza</li></a>

          </ul>
        
      </div>
    </div>   

</div>

</div>
</div>

  
   <style type="text/css">.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}</style>









 <!--    <link rel="stylesheet" type="text/css" href="assets/css/register.css">

<div style="position: absolute;top: 40px;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.6);">
	<div class="col-sm-12 col-lg-12"><h1 style="color: white !important;text-align: center; text-shadow:0px 0px 10px #00bbff">Events Registeration</h1><br><br></div>
	<div class="col-md-6 col-sm-12 col-lg-6" >
		<a href="/regusers" style="text-align: center;border: solid 2px;border-radius: 8px;background-color: rgba(0,0,0,0.8);" class="center-block "><div class="reg" style="position: absolute;visibility: 0; color: white:"Registeration</div><img src="assets/images/fifa.png" class="img-responsive" style="max-height: 400px;margin: auto;"></a><br>
	</div>
	<div class="col-md-6 col-sm-12 col-lg-6">
		<a href="/re" style="text-align: center;border: solid 2px;border-radius: 8px;background-color: rgba(0,0,0,0.8);" class="center-block "><img src="assets/images/cs.png" class="img-responsive" style="max-height: 400px;margin: auto;"></a><br>
	</div>


</div>
 -->