
<div class="container-fluid" style="position: absolute;left: 0;right: 0;top: 40px;bottom: 0;background-color: rgba(0,0,0,0.5);">
    <div class="hova" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(0,0,0,0.5);overflow-y: auto;overflow-x:hidden;">
  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
    <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Sponsors</h1><hr style="width: 80%;">
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/sponsors-01 (1).jpg" class="img-responsive" style="width: 100%;">
  </div>
</div>
<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Title Sponsors</h1><hr style="width: 80%;">
    <div class="image">
    <img src="/assets/images/sponsors/jio-01.png" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Jio<br>DIGITAL LIFE</h4>

  </div>
</div>
  <div class="col-sm-12">  <hr style="width: 80%;">



</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">In association with</h1><hr style="width: 80%;">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/siemens-01.png" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Siemens</h4>
  </div>
</div>

<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Powered by</h1><hr style="width: 50%;">
    <div class="image">
      
    <img src="/assets/images/sponsors/9xo-01.png" class="img-responsive" style="width: 40%;"><h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">9XO</h4>
  </div>
</div>

<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Brought to you by</h1><hr style="width: 80%;">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/corporation-01.png" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Corporation Bank</h4>
  </div>
</div>
<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Co-Sponsored by</h1><hr style="width: 80%;">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/mastersoft-01.jpg" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Mastersoft</h4>

  </div>
</div>
<div class="col-sm-12">  <hr style="width: 80%;">
</div>

  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Event Sponsors</h1><hr style="width: 80%;">
        <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/Deccan Logo.jpg" class="img-responsive" style="width: 40%;"><h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Deccan<br>Title Sponsor of<br>Line Follower</h4>
  </div>
</div>

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/gsl-01.png" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">G.S.L<br>Title Sponsor of<br>Programmatics</h4>
  </div>
</div>

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/max-01.png" class="img-responsive" style="width: 40%;"><h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Max<br>Fashion Partners<br>Title Sponsor of Zest</h4>
  </div>
</div>

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="image">
      <br><br>
    <img src="/assets/images/sponsors/success-01.png" class="img-responsive" style="width: 40%;">
    <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Success Academy<br>Title Sponsor of Trivium</h4>
  </div>
</div>


</div>
<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">
        <h1 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important;">Pronite Sponsors</h1><hr style="width: 80%;">

        <div class="col-sm-12 col-md-6">
          <div class="image">
            <img src="/assets/images/sponsors/lvc-01.png" class="img-responsive" style="width: 40%; background-color: white;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">L V C<br>Comedy night<br>partners</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="image">
            <img src="/assets/images/sponsors/integrity-01.png" class="img-responsive" style="width: 40%;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Integrity<br>Powered by<br>intigrity</h4>
          </div>
        </div>
  </div>


<div class="col-sm-12">  <hr style="width: 80%;">
</div>
  <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align: center;">

        <div class="col-sm-12 col-md-6">
          <div class="image">
                        <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Beverage partners </h2>
                        <hr style="width: 80%;">
            <img src="/assets/images/sponsors/coke-01.png" class="img-responsive" style="width: 40%;">
                        <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Coca-Cola</h4>

          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="image">
            <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Workshop Partners</h2>
            <hr style="width: 80%;">

            <img src="/assets/images/sponsors/phoenix-01.png" class="img-responsive" style="width: 40%;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Team Phoenix</h4>

          </div>
        </div>
        <div class="col-sm-12">  <hr style="width: 80%;">
</div>
        <div class="col-sm-12 col-md-6">
          <div class="image">
            <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Medai Partners</h2>
            <hr style="width: 80%;">

            <img src="/assets/images/sponsors/gt-01.png" class="img-responsive" style="width: 40%; ">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Gomantak Times</h4>

          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="image">
            <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Registration Partners</h2>
            <hr style="width: 80%;">
            <img src="/assets/images/sponsors/machodas-01.png" class="img-responsive" style="width: 40%; background-color: white;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Machado</h4>

          </div>
        </div>


        <div class="col-sm-12" style="text-align: center;">
        <div class="col-sm-12">  <hr style="width: 80%;">
</div>
        <div class="col-sm-12 col-md-6">
          <div class="image">
            <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Online Medai Partners</h2>
            <hr style="width: 80%;">

            <img src="/assets/images/sponsors/fest pav-01.png" class="img-responsive" style="width: 40%;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">FestPav</h4>

          </div>

        </div>

         <div class="col-sm-12" style="text-align: center;">
        <div class="col-sm-12">  <hr style="width: 80%;">
</div>
        <div class="col-sm-12 ">
          <div class="image">
            <h2 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">Online Medai Partners</h2>
            <hr style="width: 80%;">

            <img src="/assets/images/sponsors/gammon.jpg" class="img-responsive" style="width: 40%;">
            <h4 style="text-shadow:0px 0px 30px #00bbff !important;color:white !important; text-align: center;">With best Compliments<br> 
        Gammon Engineers and Contractors Pvt.Ltd<br>
   Goa Bridge Project</h4>

          </div>

        </div>
        
<div class="col-sm-12"><br><br>
        <hr><br><br></div>
  </div>



</div>

</div>
   <style type="text/css">
img {
    display: block;
     margin: auto;
}

.image {
       margin: auto;   
}




