   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Clash Royale</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
<br><br><img src="assets/images/Final Posters/clash royale final.jpg" style="max-width: 100%">
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
		      	
				<p class="detailss">
				

Clash Royale is the fast-paced brawler where you collect cards and duel players in real time. Destroy your opponent's Crown Towers, but be sure to defend your own. See you in the arena!
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/clash royale.pdf" download="clash royale.pdf" target="_self">Download<br>Rulebook</a></button>

				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Clash_Royale/193625" target="_blank">
				Register</a></button>
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>