   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Counter Strike</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
<br><br><img src="assets/images/Final Posters/counter strike final.jpg" style="max-width: 100%">
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
		      	<h2 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">COUNTER –STRIKE 1.6
</h2>
				<p class="detailss">
				
Play the world’s number 1 online action game. Engage in an
incredibly realistic brand of terrorist warfare in this wildly
popular team-based game. Ally with teammates to complete
strategic missions. Take out enemy sites. Your role affects
your team’s success. Your team’s success affects your role.
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/cs.pdf" download="cs.pdf" target="_self">Download<br>Rulebook</a></button>

				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/counter_strike/193659" target="_blank">
				Register</a></button>
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>