   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Extravaganza</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
<img src="assets/images/Final Posters/extravagnza final.jpg" style="max-width: 100%">
		      </div>
		      <div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
				<p class="detailss">
				
Can’t live without binge watching TV shows ?  Then, Extravaganza is the perfect platform for you to compete  against fellow TV buffs in this ultimate TV series quiz where you secure the bragging rights with your knowledge of television shows. <br>

As Heisenberg is incomplete without Jesse Pinkman so as Sherlock without Watson,  do come in a team of 2.<br> 

One of the greatest of all time,  Barney Stinson has said : 

“It’s gonna be legen… wait for it… dary!”
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/extravagnza.pdf" download="extravagnza.pdf" target="_self">Download<br>Rulebook</a></button>

				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
				<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Extrawaganza/193631"  target="_blank">

				Register</a></button>

				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>