   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Footloose</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
		      	<img src="assets/images/Final Posters/footloose final.jpg" style="max-width: 100%">

		      </div>
		      <div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
		      	<h2 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Dance is the hidden language of soul….</h2>
				<p class="detailss">
				Footloose is a fun and athletic thing to do it is described in many ways. It is when people move to a musical rhythm. The dance may be an informal play, a part of a ritual, or a part of a professional performance . 
				Dancing is not a sport, though it does have some athletic aspects. Dance is an art. Some people dance to express their feelings and emotions. Other people dance to feel better. Dance can be used to tell a story. In some societies, dance goes with song as well as music. 
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/footloose.pdf" download="footloose.pdf" target="_self">Download<br>Rulebook</a></button>
				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/footloose/193615"  target="_blank">
				Register</a></button>
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>