   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">NFS-MW</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
<br><br><img src="assets/images/Final Posters/nfs final.jpg" style="max-width: 100%">
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
		      	<h2 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">“Faster, Faster and Faster, until the thrill of speed
overcomes the fear of Death!!!”</h2>
				<p class="detailss">
				


Calling all motor heads. If you're the sort of champ who lives
life in the fast lane, then the world of NFS:MW would be very
familiar domain. A cult classic, this game has gone down in
the books as one of the best racing games ever made. Battle
it out on the streets and test your mettle to find out if you
have what it takes to be the fastest racer on the block. So
fuel up your car, stock up on Nos and prepare to shift into
overdrive as you race towards the finish line.
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/nfs.pdf" download="nfs.pdf" target="_self">Download<br>Rulebook</a></button>

				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/nfs/193629" target="_blank">
				Register</a></button>
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>