
   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">PICASSO</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
		      	<img src="assets/images/Final Posters/picasso final.jpg" style="max-width: 100%">

		      </div>
		      <div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
		      	<h2 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">It is so Simple. Draw, Submit &amp Win . . .
</h2>
				<p class="detailss">
				
Picasso is a diverse range of human activities in creating visual, auditory
or performing artifacts, expressing artist's imaginative skill, intended to
be appreciated for their beauty or emotional power.
				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/picasso.pdf" download="footloose.pdf" target="_self">Download<br>Rulebook</a></button>

				
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>