   <link rel="stylesheet" type="text/css" href="assets/css/pageCss/reachus.css">
<div class="tab  col-md-12 col-sm-12 col-lg-12"><br><br>
	<div class=" subtab col-md-8 col-sm-12 col-lg-8 col-md-offset-2 col-lg-offset-2">
		
		    <div id="reach" class="tab-pane fade in active">
		      <h1 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">Third degree</h1>
		      <hr class="half" style="text-align: center;">

		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
<br><br><img src="assets/images/Final Posters/third degree final.jpg" style="max-width: 100%">
		      </div>
		      <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
		      	<h2 style="text-shadow:0px 0px 10px #00bbff;color:white; text-align: center;">“Only thing we have to fear is fear itself”
</h2>
				<p class="detailss">
				

Test your potential to the extreme level<br>

Third degree is an event where you will perform breathtaking tasks and will face your worst fears.
Can you make it through all tasks and come out as the most brave person?<br>

The goal is to finish the task in less time as possible.

				<hr></p>
				<br>
				<div class="col-md-12 col-lg-12 col-sm-12" style="margin: auto;text-align: center;">
				<button class="btn-primary" style="background-color: rgba(20,20,20,1);"><a href="assets/pdf/third degree.pdf" download="third degree.pdf" target="_self">Download<br>Rulebook</a></button>

				<button class="btn-primary" style="background-color: rgba(20,20,20,1); float: right;">
									
<a href="https://www.payumoney.com/customer/users/paymentOptions/#/576755FA7D05246717306B07E389A55B/Third_degree/193617" target="_blank">
				Register</a></button>
				</div>
		      </div>
		      
		     <br><br>
</div><footer class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 " style="text-align: center;bottom: 0;" >Saavyas © <a href="http://www.nitgoa.ac.in" target="_blank" >National Institute of Technology Goa</a> </footer>
            </div>
		    </div></div>